

body{
    font-family: "space Mono", Arial, serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
}

.title-space {

    font-family: "space Mono", serif;
    font-weight: 50;
    color: #ffffff;
    font-size: 10px;
}

.title-script{
    font-family:'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 50px;

}

.job title{
    font-family:'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 30px; 
}

main{
    
    /* display: flex; */
    flex-direction: row; 
    flex-wrap: wrap; /* (reordena los elementos) */
    width: 100%;
    height: 100%;
}

.character-des{
    
    width: 50%;
    height:100%;
   background-color:#627160;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
   
}

#character-principal{
    
    width: 100%;
    height:100%;
    display: flex;
    flex-direction:row;
   
   
}

.character-img-container{
    width:50%;
    height: 100%;
    display:flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
  background-color: #ffffff;
}

p{
    font-size: 15px
    
}

.character-img{
    
    width: 440px;
    height: 440px;
    border-radius: 50%;
    object-fit: cover;
}
.character-paragraph {
    width: 400px;
}

#character-information{
    display: flex;
    position: absolute;
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
}
